[flake8]
ignore = W503, E203, E221, C901, C408, E741, C407, B017
max-line-length = 100
max-complexity = 18
select = B,C,E,F,W,T4,B9
exclude = build,.git,.vector_cache,.github,dev,distribution,docs,__pycache__,imgs,
        *.pyc,*.txt,.pkl,*.pt,*.tar.gz,*.yml,
        examples/pytorch/kg_completion/spodernet,
        **/spodernet/**,
        setup.py
per-file-ignores =
  **/__init__.py:F401,F403,E402
  **/config/**.py:F401,E402
  config/**.py:F401,E402
  **/tests/config/**.py:F401,E402
  tests/config/**.py:F401,E402